.buttonStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    border-radius: 99px;
}

// .buttonStyles {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 45px;
//     border-radius: 99px;
// }

.ButtonChart {
    margin-left: 8px;
    color: #fff;
    font-weight: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0.44px;
}

// .RectangleButton {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 96px;
//     height: 32px;
//     color: #fff;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 22px;
//     text-align: center;
//     background: #07f;
//     border-radius: 2px;
//     box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);

//     &.active {
//         color: #fff;
//         background: #07f;
//     }
// }

// .ButtonBule {
//     display: flex;
//     align-items: center;
//     box-sizing: border-box;
//     color: #4880ff;
//     font-style: normal;
//     line-height: 32px;
//     background-color: #eff2f5;
//     border: 2px solid #4880ff;
//     border-radius: 99px;
// }

// .contentLeftimg {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: #fff;
//     font-size: 14px;
//     line-height: 36px;
//     background: #07f;
//     border-radius: 4px;
//     cursor: pointer;
// }

// .contentLeftimg:hover {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: #fff;
//     font-size: 14px;
//     line-height: 36px;
//     text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
//     background: #1890ff;
//     border-color: #1890ff;
//     box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
//     cursor: pointer;
// }

.export_template_button {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 12px;
    padding: 4px 11px;
    color: #2979ff;
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
    letter-spacing: 0.1px;
    text-align: center;
    background-color: transparent;
    border: 0.5px solid #2979ff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: none;

    .title {
        color: #2979ff;
    }

    img {
        margin-right: 5px;
        vertical-align: bottom;
    }

    &:hover {
        color: white;
        background-color: #2979ff;

        .active {
            display: inline-block;
        }

        .deactive {
            display: none;
        }

        .title {
            color: white;
        }
    }

    .active {
        display: none;
    }

    .deactive {
        display: inline-block;
    }
}