.allBody{
    width: 50%;
    display: flex;
    justify-content: space-between;
}


.cascadeGroup{
   width: 100%;
   display: flex;
   flex-direction: column;
   position: relative;
}

.cascadeGroupBody{
    width: 100px;
    height: 32px;
    background-color: aqua;
}

.rowLine{
    width: 100%;
    height:2px;
    position: absolute;
    right:-100%;
    background-color: black;
}