.a {
    display: flex; 
    overflow-x: scroll;
}

.a_1_1 {
    width: 100px;
    height: 32px;
    
    background-color: gainsboro;
}

.a_1_line {
    flex:1;
    margin-top: 16px;
    height: 2px;
    background-color: black;
}
.a_1_linew {
    margin-top: 16px;
    height: 2px;
    background-color: black;
}


.a_1_cloumn {
    margin-left: 48px;
    height: 30px;
    width: 2px;
    background-color: black;
}

.a_body{
    display: flex;
}
.a_body:last-child{
    margin-right: 10px;
}
.position_1{
    display: flex;
}

.a_1{
   display: flex;
   flex-direction: column;
}