.template_wrapper {
  margin: 24px;
}

.config_section {
  display: flex;
  width: 100%;
  height: calc(100vh - 180px);

  .left_section {
    width: 288px;
  }

  .right_section {
    flex: 1;
  }
}

.headerBody{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.operationHeader{
  width: 280px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top:-3px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}