.ModelDetailsBody{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.ModelDetailsBodyLeft{
   width: calc(100% - 240px);
   height: calc(100vh - 80px);
   display: flex;
   flex-direction: column;
}

.ModelDetailsMiddle{
    display: flex;
    flex-direction: row;
}