.stepBaseMain {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  padding-top: 48px;
}

.stepBaseMain_Form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 650px;
  margin: 0 auto;
}


.selectRender{
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 9999;
}

.selectRender>span{
  padding: 0  10px;
}

.selectRender>img {
  margin-left: 2px;
}