.excitationList_body{
    width: 240px;
    height: 100vh;
    padding: 0 16px;
    background-color: aliceblue;
}

.dragList_Body{
    padding: 0 16px;
}


// 表头文字字体
.excitationChart{
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0px;
    color: #333333;
}

.excitationItem{
    width: 208px;
    height: 36px;
    display: flex;
    align-items: center;
    position: relative;
}

.dragList_Header{
    width: 208px;
    height: 36px;
    display: flex;
    padding-left: 20px;
    border-bottom: 1px solid #E9E9E9;
}


.img_Body{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.dragItem_name{
    width: 128px;
    margin-left: 16px;
    display: inline-block;
}