.rightBody {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.headerBody {
  width: 100%;
  height: 96px;
  display: flex;
  background-color: #f8f9fa;
  border: 1px solid #e9e9e9;
}

.headerLeft {
  flex:1;
  padding: 24px;
}

.headerright {
  width: 120px;
  height: 96px;
}

.headerright_img {
  width: 120px;
  height: 96px;
}

.headerName {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}
