.excitaion_operation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #488ff0;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  cursor: pointer;
}

.excitationCard_main {
  width: 329px;
  height: 216px;
}

.baseForm {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.oneForm {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 650px;
  margin: 40px auto;
}

.twoForm {
  display: flex;
  flex-direction: column;
  width: 650px;
  margin: 40px auto;
}

.excitaion_footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.excitaion_footer_footerConcent {
  width: 400px;
  display: flex;
  padding-top: 30px;
  padding-bottom: 50px;
  justify-content: space-between;
}

.excitaion_footer_footerConcentRight{
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.stepButton {
  width: 110px !important;
  height: 38px;
}

.formOperation {
  width: 96%;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 184px;
  display: flex;
  margin: 0 2%;
  padding: 16px;
  background-color: #f5f6f7;
}

.card_head {
  width: 120px;
  height: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;

  :global(.ant-form-vertical .ant-form-item-label) {
    text-align: center !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  :global(.ant-input) {
    width: 95px;
  }
}

.card_middle {
  width: 324px;
  height: 152px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  background: #ffffff;
}

.card_main {
  display: flex;
}

.card_middle_form {
  width: 292px;
  height: 130px;
  display: flex;
  margin-top: 24px;
  flex-direction: column;
  align-items: center;
  :global(.ant-select) {
    width: 222px;
  }
  :global(.ant-input-textarea) {
    width: 222px;
  }
  :global(.ant-form-item-label) {
    width: 52px;
  }
}

.nav_Btn {
  width: 18px;
  padding: 0 20px;
  height: 152px;
  margin-left: 10px;
  display: flex;
  padding-top: 45px;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  cursor: pointer;
}

.card_concent {
  width: 100%;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  cursor: pointer;
}

.formOperationDouble {
  width: 96%;
  height: 184px;
  display: flex;
  margin: 0 2%;
  padding: 16px;
  justify-content: center;
  background-color: #f5f6f7;
}

.AnBan_headerRadio {
  :global(.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)) {
    background: #488ff0 !important;
    border-color: #488ff0 !important;
  }
}

.baseBody {
  background-color: #ffffff;
}

.stepHeader {
  width: 100%;
  padding: 0 30px;
  height: 66px;
  border-top: 1px solid #e9e9e9;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepHeader_concent {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active_button {
  width: 110px !important;
  height: 38px;
  padding: 0;
  :active {
    width: 110px !important;
    height: 38px;
    color: #fff;
    line-height: 38px;
    background-color: #488ff0;
  }
}

.deleteCardTopRight {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -9px;
  right: -8px;
  background-color: #c4c4c4;
  border-radius: 50%;
  cursor: pointer;
}

.deleteCardTopRight::after {
  position: absolute;
  top: -1px;
  left: 5.3px;
  color: #fff;
  content: 'X';
  opacity: 0.7;
}

.deleteCardTopRight:hover {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -9px;
  right: -8px;
  background-color: #0077ff;
  border-radius: 50%;
  cursor: pointer;
}

.deleteCardTopRight:hover::after {
  position: absolute;
  top: -1px;
  left: 5.3px;
  color: #fff;
  content: 'X';
  opacity: 0.7;
}
.card_middle > div:nth-child(1) {
  opacity: 0;
}
.card_middle:hover > div:nth-child(1) {
  opacity: 1;
}
