.cloumnBody{
  display: flex;
}

// 协议数据底部

.agreeFooter{
  width: 500px;
  display: flex;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  border: 1px solid #E9E9E9
}


.dragButton{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  color: #333333;
  background-color: #E9E9E9;
}


.dragButton:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  color: #FFFFFF;
  background-color: #4880FF;
  .dragImage {
      width: 12px;
      height: 12px;
      margin-right: 3px;
      background-repeat: no-repeat;
      background-image: url('../../../../assets/drag/write.svg');
    }
}



.dragImage {
  width:12px;
  height: 12px;
  margin-right: 3px;
  background-image: url('../../../../assets/drag/black.svg');
  background-repeat: no-repeat;
}