.cloumnBody{
  display: flex;
  background-color: #fff;
}

.cloumnBodyHeader{
  width: 88px;
  height: 38px;
  display: flex;
  align-items: center;
  border-top: 0.5px solid #E9E9E9 !important;
  background-color: #F7F9FA;
  padding-left: 8px;
}

.cloumnIntBodyHeader {
  width: 88px;
  height: 38px;
  display: flex;
  border-top: 0.5px solid #E9E9E9 !important;
  align-items: center;
  background-color: #F7F9FA;
  padding-left: 8px;
}

.StringInput {
  width: 98px;
  overflow: hidden;
  height: 38px !important;
  line-height: 37px !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  padding: 4px 5px !important;
}

.IntInput {
  width: 98px;
  height: 38px !important; 
  overflow: hidden;
  line-height: 38px !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  padding: 4px 5px !important;
}

.StringInputValue {
  width: 323px;
  height: 38px !important;
  border-top: 0.5px solid #E9E9E9 !important;
  border-left: 0.5px solid #E9E9E9 !important;
  border-right: 0.5px solid #E9E9E9 !important;
  border-bottom: 0.5px solid #E9E9E9 !important;
  height: 38px !important;
  line-height: 38px !important;
  border-radius: 0px !important;
}

.IntArrayInputValue {
  width: 82px;
  overflow: hidden;
  height: 38px !important;
  line-height: 37px !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  padding: 4px 5px !important;
}


.IntArrayInput {
  width: 49px;
  height: 38px !important;
  line-height: 38px !important;
  border-top: 0.5px solid #E9E9E9 !important;
  border-left: 0.5px solid #E9E9E9 !important;
  border-right: 0.5px solid #E9E9E9 !important;
  border-bottom: 0.5px solid #E9E9E9 !important;
  border-radius: 0px !important;
}

.IntInputValue {
  width: 203px;
  overflow: hidden;
  height: 38px !important;
  box-shadow: none !important;
  line-height: 38px !important;
  border-radius: 0px !important;
}


.initValue {
  width: 56px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-top: 0.5px solid #E9E9E9 !important;
  border-left: 0.5px solid #E9E9E9 !important;
  border-right: 0.5px solid #E9E9E9 !important;
  border-bottom: 0.5px solid #E9E9E9 !important;
  height: 38px !important;
  justify-content: center;
  background-color: #F7F9FA;
}


.cloumnBodyHeader {
  width: 88px;
  display: flex;
  align-items: center;
  background-color: #F7F9FA;
  padding-left: 8px;
}

.StringForm{
  position: relative;
  display: flex;
  :global(.ant-form-item){
    margin-right: 0px !important;
    margin-bottom: 0px !important;
  }
  :global(.ant-form-item-with-help){
    margin-bottom: 0px !important;
  }
  :global(.ant-form-item-explain-error){
    position: absolute;
    width: 280px;
  }
  :global(.ant-input){
    border: 0.5px solid #E9E9E9 ;
  }
}


.IntArrayForm {
  position: relative;
  display: flex;
  :global(.ant-form-item) {
    margin-right: 0px !important;
  }
  :global(.ant-form-item) {
    border-style: none !important;
    box-shadow: none !important;
  }

   :global(.ant-input){
      border: 0.5px solid #E9E9E9;
   }
}

.StringSelect{
  width: 85px !important;
  :global(.ant-select-selector){
     overflow: hidden;
     border-top: 0.5px solid #E9E9E9 !important;
     border-left: 0.5px solid #E9E9E9 !important;
     border-right: 0.5px solid #E9E9E9 !important;
     border-bottom: 0.5px solid #E9E9E9 !important;
     border-radius: 0px !important;
     box-shadow:none !important;
     height: 38px !important;
     line-height: 38px !important;
     padding: 0px 8px !important;
   }
   :global(.ant-select-selection-item,){
     line-height: 38px !important;
   }
   :global(.ant-select-arrow){
     margin-top: -5px !important;
   }
}

.IntSelect{
  width: 48px !important; 
  :global(.ant-select-selector) {
      overflow: hidden;
      border-top: 0.5px solid #E9E9E9 !important;
      border-left: 0.5px solid #E9E9E9 !important;
      border-right: 0.5px solid #E9E9E9 !important;
      border-bottom: 0.5px solid #E9E9E9 !important;
      border-radius: 0px !important;
      box-shadow: none !important;
      height: 38px !important;
      line-height: 38px !important;
      padding: 0px 4px !important;
    }
   :global(.ant-select-selection-item, ) {
      line-height: 38px !important;
    }
    :global(.ant-select-arrow) {
       margin-top: -5px !important;
     }
}





.FourCharts {
  width: 72px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-top: 0.5px solid #E9E9E9 !important;
  border-left: 0.5px solid #E9E9E9 !important;
  border-right: 0.5px solid #E9E9E9 !important;
  border-bottom: 0.5px solid #E9E9E9 !important;
  height: 38px !important;
  justify-content: center;
  background-color: #F7F9FA; 
  background-color: #F7F9FA;
}

.cloumnBodyCharts{
  display: flex;
  justify-content: center;
  width: 60px;
  color: #333333;
  text-align: center;
  font-family: Source Han Sans CN;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.CloumnLine{
  width: 1px;
  height: 100%;
  background-color: #E9E9E9; 
}
// 协议数据底部

.agreeFooter{
  width: 672px;
  padding-left: 8px;
  display: flex;
  background-color: #FFFFFF;
  align-items: center;
  position: relative;
  height: 38px;
  border-left: 1px solid #E9E9E9;
  border-right: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
}

.agreeFooter>span {
    display: block;
    margin-right: 8px;
}

.dragButton{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  color: #333333;
  border: 1px solid #E9E9E9;
  background-color: #fff;
}


.dragButton:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  color: #FFFFFF;
  border: 1px solid #E9E9E9;
  background-color: #4880FF;
  .dragImage {
      width: 12px;
      height: 12px;
      margin-right: 3px;
      background-repeat: no-repeat;
      background-image: url('../../../../assets/drag/write.svg');
    }
}



.dragImage {
  width:12px;
  height: 12px;
  margin-right: 3px;
  background-image: url('../../../../assets/drag/black.svg');
  background-repeat: no-repeat;
}

.agreementDragDrop{
  width: 672px;
  background: #F7F9FA;
  display: flex;
  flex-direction: column;
}


.agreementDropTop {
  height: 342px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid #E9E9E9;
  background-color: #F7F9FA;
}

.agreementDrop{
  height: 342px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.agreementDrop:hover {
  height: 342px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cloumnBody:first-child{
  border-top: 0.5px solid #E9E9E9;
}

.cloumnBody:last-child {
  border-bottom: 0.5px solid #E9E9E9;
}

.imgStyle{
  width: 16px;
  height: 38px;
  border-top: 0.5px solid #E9E9E9 !important;
  border-left: 0.5px solid #E9E9E9 !important;
  border-right: 0.5px solid #E9E9E9 !important;
  border-bottom: 0.5px solid #E9E9E9 !important;
  background: #F7F9FA;
  background-size: 13px 15px;
  background-position: 1px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/drag/icon_delete.svg');
}

.imgStyle:hover {
  width: 16px;
  height: 38px;
  border-top: 0.5px solid #E9E9E9 !important;
  border-left: 0.5px solid #E9E9E9 !important;
  border-right: 0.5px solid #E9E9E9 !important;
  border-bottom: 0.5px solid #E9E9E9 !important;
  border-right-style: none !important;
  background: #F7F9FA;
  background-size: 13px 15px;
  background-position: 1px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/drag/icon_delete_blue.svg');

}


.excitaionModal{
    user-select: none;
   :global(.ant-modal-header){
    display: flex;
    align-items: center;
    height: 48px !important;
    border-radius:none ;
   }

   :global(.ant-modal-body) {
      height: 516px;
    }

   :global(.ant-modal-header){
    display: flex;
    align-items: center;
    height: 48px !important;
    border-radius: 0px !important;
    }

   :global(.ant-modal-close) {
    right:14px
   }

   :global(.ant-modal-close-x){
     width: 16px ;
     height:16px ;
     line-height: 48px;
   }
   :global(.ant-modal-footer) {
      border-top: 0px;
      height: 56px;
      line-height: 36px;
      padding-right: 24px;
    }
}

.excitationModalBody{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}





.headerForm{
  display: flex; 
  height: 110px;
  justify-content: space-between;
  align-content:stretch;
  :global(.ant-form-item-label){
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
  }
  :global(.ant-form-item){
      margin-right: 0px !important;
      max-height: 32px !important;
  }
  :global(.ant-form-item-with-help){
      margin-bottom: 0px !important;
  }
}

.commonItem{
    width:232px  !important;
    height:34px !important;
    border-radius: 2px;
}

.nameSty{
  :global(.ant-form-item-explain-error) {
    width: 300px !important;
    position: absolute !important;
  }
}

.commonItems {
    width: 260px !important;
    height: 34px !important;
    border-radius: 2px;
}




.intArrayFormItem{
  :global(.ant-form-item-explain-error) {
    position: absolute;
    width: 98px;
  }
}


// 魔改tooltip样式

.magicToolTipStyle{
  :global(.ant-tooltip-arrow){
    left: 50%;
    transform: translateX(-50%);
  }
}

.clearBtn{
  width: 72px;
  height: 26px;
  display: flex;
  position: absolute;
  right: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  color: #333333;
  border-radius:4px;
  border: 1px solid #E9E9E9;
  background-color: #fff;
}


.clearBtn:hover {
  width: 72px;
  height: 26px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  border-radius: 4px;
  border: 1px solid #E9E9E9;
  text-align: center;
  color: #FFFFFF; 
  background-color: #4880FF;
  cursor: pointer;
}