
.taskDetailCard_Main {
    width: 100%;
    height: 75px;
    padding:12px 0px 12px 20px ;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 4px;  
}

.taskDetailCard {
    width: 100%;
    display: flex;
    margin-top: 17px;
}

.taskDetailHead_Main{
   width:100%;
   display: flex;
   justify-content: space-between;   
}
.taskDetailHead_Main_left {
   width: 60%;
   display: flex;
   flex-direction: column;
}

.taskDetailHead_Main_titlelayout{
   display: flex;
}


.taskDetailHead_Main_left_title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}

.taskDetailHead_Main_left_footer{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #787885;
}

.taskDetailCard_Main_left_footer_detail{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #4880FF;
    cursor: pointer;
}

.taskDetailCard_Main_left_footer_detail:hover{
    color: #52aeff;
}

.taskDetailHead_Main_right{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.ImageContioner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 65px;
  cursor: pointer;
}

.spin {
    :global(.ant-spin-dot) {
        top: 30% !important
    }
}

.cardTaskDetail{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
}

.cardConcent{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.card_Header{
    display: flex;
}

.roundStatusTesting {
    color: #33be63;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
    /* identical to box height */
}

.roundStatusNormalEnd {
    color:#333333;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
    /* identical to box height */
}

.roundStatusPaused {
    color:#BFBFBF;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
    /* identical to box height */
}

.roundStatusErrorPaused {
    color:#FF4455;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
    /* identical to box height */
}


.roundStatusErrorEnd{
    color:#FF4455;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
    /* identical to box height */
}

.roundStatusWaitTesting {
    color: #FFBB00;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
    /* identical to box height */
}

.roundStatusStoping{
    color: #D9D9D9;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
}

.roundStatusReplay {
    color:#4880FF;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
    /* identical to box height */
}

.roundStatusReady {
    color: #8800FF;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
    /* identical to box height */
}

.roundStatusErrorReplay{
    color: #f110c4;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
}

.showTaskDetail_container {
    width: 100%;
    padding: 24px;
}
.showTaskDetail_container_header{
    height: 56px;
    background-color: #FFFFFF;
}
.showTaskDetail_container_header_title{
    margin-left: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 56px;
     color: #333333;
}

.log_container_title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
     color: #333333;
}

.card_head_right_button{
    display: flex;
}

.overlay {
    height: 100%;
    :global(.ant-tooltip-inner) {
        padding-bottom: 20px;
        overflow-y: scroll;
        color: #333333;
        white-space: pre;
    }
}

.showTaskDetail_container_boby{
    margin-top: 1px;
    background-color: #FFFFFF;
    padding:48px 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    background: #e2edfc;
}

.card_coverage{
   display: flex;
   width: calc(100% / 2);
   flex-direction: column;
}

.cardBody{
    flex:1;
    margin-right:10px;
}

.cardBody:last-child{
    flex: 1;
}

.cardBodys {
    flex: 1.3;
    margin-right: 10px;
}

.card_line{
    height: 40px;
    width: 1px;
    background-color: #E9E9E9;
    margin:5px 0px 0  0;
}

.cloumnLine {
    width: 1px;
    height: 16px;
    background: #787885;
    overflow: hidden;
    margin: 0 12px;
}

.textTitle{
    display: flex;
    align-items: center;
}