
.taskDetailCard_Main {
    width:172px;
    height: 75px;
    padding:12px 0px 12px 20px ;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 4px;  

}

.taskDetailCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}

.taskDetailHead_Main{
   width:100%;
   display: flex;
   justify-content: space-between;   
}
.taskDetailHead_Main_left {
   width: 60%;
   display: flex;
   flex-direction: column;
}

.taskDetailHead_Main_titlelayout{
   display: flex;
}


.taskDetailHead_Main_left_title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}

.taskDetailHead_Main_left_footer{
    margin-top: 8px;
    display: flex;
    // justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #787885;
}

.taskDetailCard_Main_left_footer_detail{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #4880FF;
    cursor: pointer;
}

.taskDetailHead_Main_right{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.ImageContioner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 65px;
  cursor: pointer;
}

.cardTaskDetail{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
}

.cardConcent{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.card_Header{
    display: flex;
}

.roundStatusGreen {
    color: #33be63;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
    /* identical to box height */
}

.roundStatusGreens {
    padding-top: 10px;
    color: #23b899;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
    /* identical to box height */
}

.roundStatusBlue {
    padding-top: 10px;
    color: #4880ff;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
    /* identical to box height */
}

.roundStatusBlack {
    padding-top: 10px;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
    /* identical to box height */
}

.roundStatusRed {
    padding-top: 10px;
    color: red;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
    /* identical to box height */
}

.roundStatusYellow {
    padding-top: 10px;
    color: #ffbb00;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
    /* identical to box height */
}

.roundStatusGray {
    padding-top: 10px;
    color: #a3a3a3;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
    /* identical to box height */
}

.showTaskDetail_container {
    width: 100%;
    padding: 24px;
}
.showTaskDetail_container_header{
    height: 56px;
    background-color: #FFFFFF;
}
.showTaskDetail_container_header_title{
    margin-left: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 56px;
     color: #333333;
}

.log_container_title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
     color: #333333;
}

.card_head_right_button{
    display: flex;
}

.overlay {
    height: 100%;

    :global(.ant-tooltip-inner) {
        padding-bottom: 20px;
        overflow-y: scroll;
        color: #000;
        white-space: pre;
    }
}

.showTaskDetail_container_boby{
         margin-top: 1px;
         background-color: #FFFFFF;
         padding:48px 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    background: #e2edfc;
}