.projectDescStyle{
    display: block;
    font-family: 'Source Han Sans CN';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #787885;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 24px 48px 0 48px;
}

.searchInput {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 344px;
    height: 52px;
    margin-bottom: 40px;
    background: #f1f3f4;
    border: 1px solid #a8c0ec;
    border-radius: 6px;
}

.projectTime {
    display: flex;
    align-items: center;
    color: #333;
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
}

.searchimg {
    width: 32px;
    height: 32px;
    margin-right: 17px;
    margin-left: 17px;
}

.searchInputStyle {
    display: flex;
    align-items: center;
    padding: 0;
    color: #8291a9;
    font-weight: normal;
    font-size: 20px;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0.44px;

    &::placeholder {
        display: flex;
        align-items: center;
        color: #8291a9;
        font-weight: normal;
        font-size: 20px;
        font-style: normal;
        line-height: 32px;
        letter-spacing: 0.44px;
    }
}


.status {
    display: flex;
    align-items: center;
}

.roundStatusGreen {
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    margin-top: 1px;
    background: #33be63;
    border: 1px solid #fff;
    border-radius: 99px;
}

.roundStatusBlue {
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    margin-top: 1px;
    margin-right: 3px;
    background: #8800ff;
    border: 1px solid #fff;
    border-radius: 99px;
}

.roundStatusBlack {
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    margin-top: 1px;
    margin-right: 3px;
    background: #000;
    border: 1px solid #fff;
    border-radius: 99px;
}

.roundStatusRed {
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    margin-top: 1px;
    margin-right: 3px;
    background: red;
    border: 1px solid #fff;
    border-radius: 99px;
}

.roundStatusYellow {
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    margin-top: 1px;
    margin-right: 3px;
    background: #ffbb00;
    border: 1px solid #fff;
    border-radius: 99px;
}

.roundStatusGray {
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    margin-top: 1px;
    margin-right: 3px;
    background: #999999;
    border: 1px solid #fff;
    border-radius: 99px;
}

.checkDetail {
    display: flex;
    color: #4880ff;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
    letter-spacing: 0.1px;
    cursor: pointer;
}

.statusList_boby {
    position: relative;
}

.statusMenu {
    height: 92px;
    padding-left: 3px;
    overflow-y: scroll;
    background-color: #fff;
    position: absolute;
    top: 30px;
    left: -10px;
    z-index: 2;
    box-shadow: 0px 1px 2px -2px rgba(0, 0, 0, 0.16), 0px 5px 12px 4px rgba(0, 0, 0, 0.09);
    border-radius: 2px;
}

.StatusMenulable {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
}
.size {
    display: flex;
    width: 80px;
    height: 32px;
    padding: 4px 0;
    color: #444447;
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
    line-height: 25px;
    text-align: center;
    background: #fff;
}
.checkblue:hover {
    width: 80px;
    height: 100%;
    vertical-align: middle;
    background: #f0f0f0;
    border-radius: 4px;
}

.checkBlue {
    width: 80px;
    color: #2979ff;
}

.checkblack {
    width: 80px;
}