.inputNumberSuffix {
    width: 22px;
    height: 32px;
    display: flex;
    right: 0;
    position: absolute;
    flex-direction: column;
} 

.inputTop {
   width: 22px;
   border-bottom: 0.5px solid #BFBFBF;
   height: 16px;
   border-left: 1px solid #BFBFBF;
   background-size: 18px 18px;
   background-position: 2px;
   background-repeat: no-repeat;
   background-image: url(../../assets/drag/icon_up_caret.svg); 
}


.inputTop:hover{
  width: 22px;
  height: 16px;
  border-bottom: 0.5px solid #BFBFBF;
  border-left: 1px solid #BFBFBF; 
  background-size: 18px 18px;
  background-position: 2px;
  background-repeat: no-repeat;
  background-image: url(../../assets/drag/icon_up_caret_black.svg);
}


.inputBottom{
  width: 22px;
  height: 16px;
  border-top: 0.5px solid #BFBFBF;
  border-left: 1px solid #BFBFBF;
  background-size: 18px 18px;
  background-position: 2px;
  background-repeat: no-repeat;
  background-image: url(../../assets/drag/icon_down_caret.svg);
}

.inputBottom:hover{
  width: 22px;
  border-top: 0.5px solid #BFBFBF;
  border-left: 1px solid #BFBFBF;  
  height: 16px;
  background-size: 18px 18px;
  background-position: 2px;
  background-repeat: no-repeat;
  background-image: url(../../assets/drag/icon_down_caret_black.svg);
}