#app {
    background-color: antiquewhite;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.statisticsTableHeader{
  
}

.statisticsTableCell{
    background-color: #FAFAFA !important;    
}

.el-table .el-table__cell{
    padding: 8px;
}

.el-table th.el-table__cell>.cell{
    padding: 0
}