.omitCompoentsTarget {
  position: relative;
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
}

.omitCompoentsTemplate {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}

.omitRounds {
  display: flex;
  justify-content: space-between;
  width: 16px;
  height: 16px;
}


.omitPostionCopy {
  position: absolute;
  top: 25px;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  height: 80px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 8px rgba(0, 0, 0, 0.1);
  transition: all 2s cubic-bezier(0.17, 0.67, 0.84, 0.66);
}

.omitPostion {
  position: absolute;
  top: 25px;
  left: -40px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: 100px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 8px rgba(0, 0, 0, 0.1);
}

.omitPostion > span {
  width: 84px;
  height: 25px;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  line-height: 25px;
  text-align: center;
}

.omitPostion > span:hover {
  width: 100px;
  height: 25px;
  color: #2979ff;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  line-height: 25px;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.omitPostionCopy > span:hover {
  width: 100%;
  height: 25px;
  color: #2979ff;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  line-height: 25px;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.omitPostionCopy > span {
  width: 100%;
  height: 25px;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  line-height: 25px;
  text-align: center;
}

.ItemBodyMenu{
  width: 188px;
  position: absolute;
  padding: 4px 0;
  top:20px;
  left: -170px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  height: 168px;
  border-radius: 4px;
  box-shadow: 0px 5px 12px 4px rgba(0, 0, 0, 0.09), 0px 3px 6px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px -2px rgba(0, 0, 0, 0.16);
  background:  #FFF;
}

.detail{
    padding-left: 12px;
    display: flex;
    width: 100%;
    height: 32px;
    background-color: #fff;
    align-items: center;
    &:hover {
      background-color: #f5f5f5;
      color: #4880FF;
    }
    &:hover>div:first-child {
      width: 15px;
      height: 15px;
      background-size: 15px 17px;
      background-repeat: no-repeat;
      background-image: url(../../assets/drag/icon_eye_blue.svg);
  }
}

.edit{
  padding-left: 12px;
  display: flex;
  width: 100%;
  height: 32px;
  background-color: #fff;
  align-items: center;

  &:hover {
    background-color: #f5f5f5;
    color: #4880FF;
  }

  &:hover>div:first-child {
    width: 15px;
      height: 15px;
      background-size: 15px 17px;
      background-repeat: no-repeat;
      background-image: url(../../assets/instanceImage/icon_edit_hover.svg);
  }
}

.info {
  padding-left: 12px;
  display: flex;
  width: 100%;
  height: 32px;
  background-color: #fff;
  align-items: center;

  &:hover {
    background-color: #f5f5f5;
    color: #4880FF;
  }

  &:hover>div:first-child {
    width: 15px;
      height: 15px;
      background-size: 15px 17px;
      background-repeat: no-repeat;
      background-image: url(../../assets/drag/icon_link_blue.svg);
  }
}


.export {
  padding-left: 12px;
  display: flex;
  width: 100%;
  height: 32px;
  background-color: #fff;
  align-items: center;

  &:hover {
    background-color: #f5f5f5;
    color: #4880FF;
  }

  &:hover>div:first-child {
    width: 15px;
    height: 15px;
    background-size: 15px 17px;
    background-repeat: no-repeat;
    background-image: url(../../assets/drag/icon_export_blue.svg);
  }
}


.delete{
  padding-left: 12px;
  display: flex;
  width: 100%;
  height: 32px;
  background-color: #fff;
  align-items: center;

  &:hover {
    background-color: #f5f5f5;
    color: #4880FF;
  }

  &:hover>div:first-child {
    width: 15px;
    height: 15px;
    background-size: 15px 17px;
    background-repeat: no-repeat;
    background-image: url(../../assets/drag/icon_delete_blue.svg);
  }
}



.taskListLeft_editImg {
  width: 15px;
  height: 15px;
  background-size: 15px 17px;
  background-repeat: no-repeat;
  background-image: url(../../assets/image/icon_detail.svg);

}



.taskListLeft_detailImg {
  width: 15px;
  height: 15px;
  background-size: 15px 17px;
  background-repeat: no-repeat;
  background-image: url(../../assets/drag/icon_delete_black.svg);
}



.taskListLeft_linkInfo {
  width: 15px;
  height: 15px;
  background-size: 15px 17px;
  background-repeat: no-repeat;
  background-image: url(../../assets/drag/icon_link_black.svg);
}


.taskListLeft_lookInfo {
  width: 15px;
  height: 15px;
  background-size: 15px 17px;
  background-repeat: no-repeat;
  background-image: url(../../assets/drag/icon_eye_black.svg);
}


.taskListLeft_exportInfo {
  width: 15px;
  height: 15px;
  background-size: 15px 17px;
  background-repeat: no-repeat;
  background-image: url(../../assets/drag/icon_export_black.svg);
}

