
.targetNode{
  width: 125px;
  height: 38px;
  border-radius: 4px;
  box-sizing: content-box;
  padding: 0 12px;
  display: flex;
  background: #333;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Source Han Sans CN;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 150% */
}


.TimerNode{
  width: 125px;
  height: 38px;
  position: relative;
  border-radius: 4px;
  box-sizing: content-box;
  padding: 0 12px;
  display: flex;
  background: #8E4EE0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
   &:hover{
    .deleteIcon{
     visibility: visible;
    }
  }
}

.TimerNodeHandle{
    left: 50%;
    top: 30px !important;
    transform: translate(-50%, 0);
}


.registerNode{
  width: 125px;
  height: 38px;
  position: relative;
  border-radius: 4px;
  box-sizing: content-box;
  padding: 0 12px;
  display: flex;
  background: #CCEAFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
  color: #FFF;
  text-align: center;
   font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
   &:hover{
    .deleteIcon{
     visibility: visible;
     cursor: pointer;
    }
  }
}

.DataHandlerNode{
  width: 125px;
  height: 38px;
  position: relative;
  border-radius: 4px;
  box-sizing: content-box;
  padding: 0 12px;
  display: flex;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
  color: #333;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
   &:hover{
    .deleteIcon{
     visibility: visible;
     cursor: pointer;
    }
  }
}

.peripheralNode{
  width: 125px;
  height: 38px;
  position: relative;
  border-radius: 4px;
  box-sizing: content-box;
  padding: 0 12px;
  display: flex;
  background: #4880FF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  &:hover{
    .deleteIcon{
     visibility: visible;
     cursor: pointer;
    }
  }
}



.label{
   width: 100%;
   padding: 0 6px;
   display: flex;
   align-items: center;
   line-height: 30px;
}

.labelName{
   width: 90px;
   text-align: left;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}


.borderNone {
  padding: 2px;
  border: 3px solid transparent;
  border-radius: 6px;
}

.borderShow{
  padding: 2px;
  border: 3px solid #52aEFF;
  border-radius: 6px;
}


.hasErrorRegisterNode{
  padding: 2px;
  border-radius: 6px;
  border: 3px solid rgb(243, 24, 50);
}

.deleteIcon{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: -9px;
  top:-9px;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  cursor: pointer;
}

.deleteIcon:hover{
  background-color: #e3e3e3;
  cursor: pointer;
}

.handle{
   width: 10px;
   height: 6px;
   border-radius:4px;
}